.Search-Bar-Form {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(163, 171, 180);
}

.Search-Bar-Inputs-Container {
    text-align: center;
}

.Search-Bar-Input {
    margin: 10px;
}